# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# mod template artifacts

TEMPLATE_LICENSE.txt

# python tools in resources

**/src/main/resources/*.py

# texture tools in resources (belong in root tools/)

**/src/main/resources/box3-texture-cut/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
